Аналіз файлів

Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
Прочитайте отриману таблицю, використовуючи метод head

In [5]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

print(users.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

Визначте розмір таблиці за допомогою методу shape

In [6]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

print(users.shape)

(8704, 25)

Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [7]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")
print(users.dtypes)

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [10]:
import pandas as pd


users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")


null_percentage = users.isnull().mean() * 100


print(null_percentage)

N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [13]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

null_percentage = users.isnull().mean() * 100

columns_with_null = null_percentage[null_percentage > 0].index

columns_to_drop = [col for col in columns_with_null if col != 'Мова програмування']
users_cleaned = users.drop(columns=columns_to_drop)

print(users_cleaned.head())

null_percentage_1 = users_cleaned.isnull().mean() * 100


print(null_percentage_1)

N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Ще студент                           0.000000
Рівень англійської                   0.000000
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
dtype: float64

Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

Визначте новий розмір таблиці за допомогою методу shape

In [15]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

cleaned_rows = users.dropna()

#print(cleaned_rows. head())
print(cleaned_rows.shape)

(0, 25)

Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [16]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

python_users = cleaned_rows[cleaned_rows['Мова програмування'] == 'Python']

python_users.to_csv("python_users.csv", index=False)

print(python_users.head())

print(python_users.shape)

Empty DataFrame
Columns: [N, Посада, Мова програмування, Спеціалізація, Загальний досвід роботи, Досвід роботи на поточному місці, Зарплата на місяць, Зміна зарплати за 12 місяців, Місто, Розмір компанії, Тип компанії, Стать, Вік, Освіта, Університет, Ще студент, Рівень англійської, Предметна область, Дата заповнення, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

In [17]:
import pandas as pd

print(python_users.shape)

(0, 25)

Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"


Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [24]:
import pandas as pd

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

grouped_data = users.groupby('Посада').agg({'Зарплата на місяць': ['min', 'max']}).reset_index()

grouped_data.columns = ['Посада', 'Мінімальна зарплата', 'Максимальна зарплата']

print(grouped_data)

                                        Посада  Мінімальна зарплата  \
0                             Business analyst                  200
1                                          DBA                  380
2                Data Scientist / Data Analyst                  150
3                                     Designer                  100
4                                       DevOps                  194
5   Director of Engineering / Program Director                 1500
6                                    ERP / CRM                  100
7                                Game designer                  150
8                                           HR                  100
9                                   HTML coder                  154
10                          Junior QA engineer                   96
11                    Junior Software Engineer                   75
12                                   Marketing                  100
13                             Product Manager                  250
14                             Project manager                  190
15                                QA Tech Lead                  430
16                                 QA engineer                  150
17                           Research Engineer                  114
18                               Sales manager                  120
19                                Scrum Master                  370
20                         Security Specialist                  300
21    Senior Project Manager / Program Manager                  200
22                          Senior QA engineer                  400
23                    Senior Software Engineer                  350
24                           Software Engineer                  100
25                                     Support                  138
26                                    Sysadmin                   90
27                            System Architect                  400
28                           Talent Researcher                  100
29                                   Team lead                  300
30                              Technical Lead                  500
31                            Technical writer                  200

    Максимальна зарплата
0                   5000
1                   6000
2                   8000
3                   4000
4                  10000
5                  34000
6                   6000
7                   6800
8                   7000
9                   3000
10                  2000
11                  2600
12                  4000
13                  5000
14                  8000
15                  6000
16                  2900
17                  4000
18                  2300
19                  4500
20                  4000
21                  9100
22                  6000
23                  9200
24                  7000
25                  3650
26                  3000
27                 10000
28                  1700
29                  7000
30                 18000
31                  3000

Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

Створіть описову статистику за допомогою методу describe для нового стовпчика.
Збережіть отриману таблицю в CSV файл

In [29]:
import pandas as pd

def fill_avg_salary(df):
    df['avg'] = df.groupby('Посада')['Зарплата на місяць'].transform('mean')
    return df

users = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

users_with_avg = fill_avg_salary(users)

desc_stats = users_with_avg['avg'].describe()

desc_stats_df = desc_stats.to_frame().transpose()

desc_stats_df.to_csv("2017_jun_final - 2017_jun_final_avg_salary.csv", index=False)

print(desc_stats_df)

      count         mean         std         min        25%          50%  \
avg  8704.0  1666.704159  984.897129  482.774752  817.33913  1678.630074

             75%          max
avg  2162.688235  5066.363636